.article {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.headline {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
}

.headline a {
  color: #000;
  text-decoration: none;
}

.headline a:hover {
  color: #0080c3;
}

.summary {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
}

.media {
  margin-bottom: 6px;
  width: 100%;
}